services:
  - docker

before_script:
  - docker login -u=sdrzlyz -p="$DOCKER_PASSWORD"

jobs:
  include:
    - stage: basic
      name: alpine
      script:
        - bash ./build.sh alpine
        - bash ./build.sh alpine-glibc
        - bash ./build.sh ubuntu
        - bash ./build.sh centos-sshd
    - stage: parallel
      script: bash ./build.sh envoy
      name: envoy
    - script: bash ./build.sh ffmpeg-static
      name: ffmpeg-static
    - script: bash ./build.sh go-dev
      name: go-dev
    - script: bash ./build.sh ikev2
      name: ikev2
    - script: bash ./build.sh nginx
      name: nginx
    - script: bash ./build.sh nginx ffmpeg
      name: nginx-ffmpeg
    - script: bash ./build.sh pg
      name: pg
    - script: bash ./build.sh redis
      name: redis
    - script: bash ./build.sh tools
      name: tools
