services:
  - docker

before_script:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

jobs:
  include:
    - stage: basic
      name: alpine
      script:
        - bash ./build.sh alpine
    - stage: parallel
      script: bash ./build.sh frpc
      name: frpc
    - script: bash ./build.sh go-dev
      name: go-dev
    - script: bash ./build.sh ikev2
      name: ikev2
    - script: bash ./build.sh nginx
      name: nginx
    - script: bash ./build.sh pg-ts-jieba
      name: pg-ts-jieba
    - script: bash ./build.sh redis
      name: redis
    - script: bash ./build.sh tools
      name: tools
