name: Docker

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # https://github.com/docker/login-action
      - name: Log into docker hub
        uses: docker/login-action@v1
        with:
          username: sdrzlyz
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        run: |
          bash ./build.sh alpine
          bash ./build.sh alpine-glibc
          bash ./build.sh ubuntu
          bash ./build.sh centos-sshd
          bash ./build.sh envoy
          bash ./build.sh ffmpeg
          bash ./build.sh ffmpeg 4
          bash ./build.sh go-dev
          bash ./build.sh ikev2
          bash ./build.sh nginx
          bash ./build.sh nginx ffmpeg
          bash ./build.sh pg
          bash ./build.sh redis
          bash ./build.sh tools
