# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: Infra DB

on: workflow_dispatch

jobs:
  build-pg-15:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      # https://github.com/docker/login-action
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: sdrzlyz
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          bash ./build.sh pg 15
  build-pg-15-ng:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      # https://github.com/docker/login-action
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: sdrzlyz
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          bash ./build.sh pg 15-ng
  build-pg-16:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      # https://github.com/docker/login-action
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: sdrzlyz
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          bash ./build.sh pg 16
  build-pg-17:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      # https://github.com/docker/login-action
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: sdrzlyz
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          bash ./build.sh pg 17
  build-pg-18:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      # https://github.com/docker/login-action
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: sdrzlyz
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          bash ./build.sh pg 18
  build-redis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      # https://github.com/docker/login-action
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: sdrzlyz
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          bash ./build.sh redis 8.2
          bash ./build.sh redis 7.2
